/* header section */
.home_header_container {
  padding: 2rem;
}
.home_header_inner {
  width: 100%;
  min-height: 500px;
  display: flex;
}
.right_header img {
  width: 532px;
  max-width: 100%;
  height: 542px;
  position: absolute;
  z-index: -1;
  top: 80px;
  right: 0;
}
.left_header {
  z-index: 3;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.header_title {
  display: flex;
  gap: 2rem;
}
.header_title h1 {
  font-size: clamp(40px, 5vw, 70px);
  font-weight: 800;
  color: linear-gradient(90deg, #000000 0%, #222222 100%);
}
.header_content {
  border: 1px solid black;
}
.header_content p {
  font-size: 18px;
  color: #212529;
}
.header_btn {
  display: flex;
  gap: 1rem;
}
.header_demobtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165.7px;
  height: 40px;
  background-color: #222222;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
.header_demobtn:hover {
  background-color: white;
  color: #222222;
}
.header_demobtn:hover img {
  background-color: #222222;
}
.header_demobtn img {
  margin-right: 5px;
}
.header_contactbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #7928ca;
  width: 225.61px;
  height: 40px;
  border-radius: 8px;
  background-color: linear-gradient(0deg, #ffffff, #ffffff);
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #231f20;
  cursor: pointer;
}
.header_contactbtn:hover {
  background-color: #7928ca;
  color: white;
}
.header_contactbtn img {
  margin-right: 6px;
}

@media (max-width: 850px) {
  .header_title {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .header_btn {
    display: flex;
    flex-direction: column;
  }
  .header_demobtn {
    align-self: center;
  }
  .header_contactbtn {
    align-self: center;
  }
}
/* company card */

.company_card_container {
  border: 1px solid black;
  padding: 0 3rem 0;
}
.company_card_inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.company_card {
  background-color: #0e0c15;
  border: 1px solid brown;
  padding: 1.5rem;
  border-radius: 20px 80px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.company_card h2 {
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
}
.company_card p {
  font-size: 16px;
  font-weight: 300;
  color: #ada8c3;
}
.company_card_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.company_card a {
  color: #ffffff;
  text-decoration: none;
}
.company_card_btn img {
  width: 48px;
  height: 48px;
}
#vectorimg {
  width: 5px;
  height: 10px;
  margin-left: 5px;
}

@media (max-width: 920px) {
  .company_card_inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .company_card {
    border-radius: 20px 50px 20px 20px;
    padding: 1.3rem;
  }
}
@media (max-width: 600px) {
  .company_card_inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .company_card {
    border-radius: 20px 30px 20px 20px;
    padding: 1rem;
  }
}
