/* placement header */
.placement_header_background {
  background-image: url("/home/minmini/Documents/BytesInBits/bytesinbits-app/src/assets/placements/placementbackground.png");
  background-size: cover;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-left: 10rem;
}
.placement_header_background h1 {
  font-size: 80px;
  font-weight: 700;
  color: #ffb400;
}
.placement_header_background h3 {
  font-size: 32px;
  font-weight: 500;
  color: #393939;
}
.placement_header_background p {
  font-size: 24px;
  font-weight: 400;
  color: #393939;
}
@media (max-width: 1500px) {
  .placement_header_background {
    padding-left: 5rem;
  }
}
@media (max-width: 900px) {
  .placement_header_background {
    padding: 0 1rem 0 4rem;
    background-size: contain;
    height: 450px;
  }
  .placement_header_background h1 {
    font-size: 65px;
  }
  .placement_header_background h3 {
    font-size: 26px;
  }
  .placement_header_background p {
    font-size: 20px;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .placement_header_background {
    padding: 0 1rem 0 2rem;
    background-size: contain;
    height: 400px;
    gap: 1rem;
  }
  .placement_header_background h1 {
    font-size: 50px;
  }
  .placement_header_background h3 {
    font-size: 22px;
  }
  .placement_header_background p {
    font-size: 18px;
    text-align: center;
  }
}
@media (max-width: 300px) {
  .placement_header_background {
    padding: 0 1rem 0 1rem;
    background-size: contain;
    height: 300px;
    gap: 1rem;
  }
  .placement_header_background h1 {
    font-size: 30px;
  }
  .placement_header_background h3 {
    font-size: 18px;
  }
  .placement_header_background p {
    font-size: 16px;
    text-align: center;
  }
}
/* placement title */
.placement_title {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.placement_title h1 {
  font-size: 40px;
  font-weight: 400;
  color: #000000;
}
.placement_title h1 span {
  font-size: 40px;
  font-weight: 700;
  color: #ffb400;
}
@media (max-width: 900px) {
  .placement_title {
    padding: 0 2rem 0 2rem;
  }
  .placement_title h1 {
    font-size: 35px;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .placement_title {
    padding: 0 1.5rem 0 1.5rem;
  }
  .placement_title h1 {
    font-size: 30px;
    text-align: center;
  }
}
/* placement carousel */
.placement_card_container {
  padding: 0 3rem 0 3rem;
  margin-top: 50px;
}
.placement_card {
  margin-right: 2rem;
}
.placement_card img {
  max-width: 100%;
}
.slick-next:before {
  font-size: 25px;
}
.slick-prev:before {
  font-size: 25px;
}
.slick-arrow::before {
  background-color: black;
}
.slick-slide div {
  margin: 0 1rem;
}

@media (max-width: 600px) {
  .placement_card_container {
    padding: 0 2rem 0 2rem;
    margin-top: 30px;
  }
  .placement_card img {
    width: 100%;
  }
  .slick-slide div {
    margin: 0;
  }
}
/* placement content */
.placement_content {
  padding: 0 5rem 0 5rem;
}
.placement_content p {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 500;
  color: #393939;
}
@media (max-width: 600px) {
  .placement_content {
    padding: 0 2rem 0 2rem;
  }
  .placement_content p {
    margin-top: 35px;
  }
}
@media (max-width: 300px) {
  .placement_content {
    padding: 0 1rem 0 1rem;
  }
  .placement_content p {
    margin-top: 30px;
  }
}
/* placement celebaration title */
.placement_celebration_title {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.placement_celebration_title h1 {
  font-size: 36px;
  font-weight: 700;
  color: #000000;
}
.placement_celebration_title h1 span {
  font-size: 36px;
  font-weight: 700;
  color: #ffb400;
}
@media (max-width: 900px) {
  .placement_celebration_title {
    padding: 0 2rem 0 2rem;
  }
  .placement_celebration_title h1 {
    font-size: 30px;
    text-align: center;
  }
  .placement_celebration_title h1 span {
    font-size: 30px;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .placement_celebration_title {
    padding: 0 1.5rem 0 1.5rem;
  }
  .placement_celebration_title h1 {
    font-size: 25px;
    text-align: center;
  }
  .placement_celebration_title span {
    font-size: 25px;
    text-align: center;
  }
}
/* placement celebration content */
.placement_celebration_content {
  padding: 0 5rem 0 5rem;
}
.placement_celebration_content p {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 500;
  color: #393939;
}
@media (max-width: 600px) {
  .placement_celebration_content {
    padding: 0 2rem 0 2rem;
  }
  .placement_celebration_content p {
    margin-top: 35px;
  }
}
@media (max-width: 300px) {
  .placement_celebration_content {
    padding: 0 1rem 0 1rem;
  }
  .placement_celebration_content p {
    margin-top: 30px;
    text-align: unset;
  }
}
/* celebration image */
.celebration_imgage_container {
  margin-top: 50px;
  padding: 0 2.5rem 0 2.5rem;
}
.celebration_image_inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 1.5rem;
}
.celebration_img img {
  max-width: 100%;
}

@media (max-width: 900px) {
  .celebration_image_inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    gap: 1.5rem;
  }
  .celebration_img img {
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .celebration_imgage_container {
    margin-top: 30px;
    padding: 0 1rem 0 1rem;
  }
  .celebration_image_inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .celebration_img img {
    max-width: 100%;
  }
}
/* testimonial title */
.testimonial_title {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.testimonial_title h1 {
  font-size: 36px;
  font-weight: 700;
  color: #000000;
}
.testimonial_title h1 span {
  font-size: 36px;
  font-weight: 700;
  color: #ffb400;
}
@media (max-width: 900px) {
  .testimonial_title {
    padding: 0 2rem 0 2rem;
  }
  .testimonial_title h1 {
    font-size: 30px;
    text-align: center;
  }
  .testimonial_title h1 span {
    font-size: 30px;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .testimonial_title {
    padding: 0 1.5rem 0 1.5rem;
  }
  .testimonial_title h1 {
    font-size: 25px;
    text-align: center;
  }
  .testimonial_title span {
    font-size: 25px;
    text-align: center;
  }
}
/* tetimonai content */
.testimonial_content {
  padding: 0 5rem 0 5rem;
}
.testimonial_content p {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 500;
  color: #393939;
}
@media (max-width: 600px) {
  .testimonial_content {
    padding: 0 2rem 0 2rem;
  }
  .testimonial_content p {
    margin-top: 35px;
  }
}
@media (max-width: 300px) {
  .testimonial_content {
    padding: 0 1rem 0 1rem;
  }
  .testimonial_content p {
    margin-top: 30px;
    text-align: unset;
  }
}
/* testimonail */

.youtube_container {
  padding: 0 4rem 0 4rem;
  margin-top: 50px;
}
.youtube_inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.youtube_container a {
  text-decoration: none;
}
.youtube_card {
  background-color: #25232c;
  padding: 1rem 0 1rem 1rem;
  border-radius: 16px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.youtube_card h3 {
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
}

@media (max-width: 900px) {
  .youtube_inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}
@media (max-width: 600px) {
  .youtube_container {
    padding: 0 1.5rem 0 1.5rem;
    margin-top: 30px;
  }
  .youtube_inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
