.navbar_container {
  padding: 0.5rem 0 0.2rem;
  box-shadow: 5px 2px 13px 0 rgb(114, 112, 112);
  background-color: #ffffff;
}
.sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.navbar_inner {
  width: auto;
  max-width: 1300px;
  margin: 0 auto 0 auto;
  padding: 0 1rem 0 1rem;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar_brand {
  display: flex;
  align-items: center;
}
.navbar_brand img {
  width: 67px;
  height: 67px;
}
.navbar_toggler {
  display: flex;
  align-items: center;
}
.navbar_toggler {
  display: none;
}
.navbar_toggler:hover {
  cursor: pointer;
}
.menu_items ul {
  margin: 0%;
  padding: 0%;
}
.menu_items li {
  /* border: 1px solid red; */
  list-style-type: none;
  padding: 0 1rem;
  display: inline-block;
}
.menu_items a {
  text-decoration-line: none;
  color: #393939;
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
}
.menu_items a:hover,
a:active,
a:focus {
  border-bottom: 2px solid #ff4e2f;
  color: #ff922f;
}

@media (max-width: 992px) {
  .navbar_toggler {
    display: block;
  }
}
@media (max-width: 992px) {
  .menu_items {
    background-color: rgb(36, 34, 34);
    position: absolute;
    top: 78px;
    bottom: 0;
    left: 0;
    z-index: 999;
    transform: translateX(-250px);
    transition: all 0.3 ease-in-out;
  }
  .active {
    min-width: 250px;
    height: 100vh;
    padding: 2rem;
    box-sizing: border-box;
    transform: translateX(0px);
  }
  .menu_items ul {
    background-color: rgb(36, 34, 34);
  }

  .menu_items li {
    display: block;
    background-color: rgb(36, 34, 34);
  }
  .menu_items a {
    color: white;
    display: block;
    padding: 1rem 0;
  }
  .menu_items a:hover {
    border-width: medium;
    border-bottom: 2px solid #ff4e2f;
  }
}
