/* conact us header */
.contact_header_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.contact_header_leftside {
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.contact_header_leftside h1 {
  font-size: 100px;
  font-weight: 700;
  color: #ffb400;
}
.contact_header_leftside h3 {
  font-size: 32px;
  font-weight: 500;
  color: #766d6d;
}
.contact_header_leftside p {
  font-size: 24px;
  font-weight: 400;
  color: #766d6d;
}
.contact_header_rightside img {
  max-width: 100%;
}
@media (max-width: 1250px) {
  .contact_header_leftside h1 {
    font-size: 80px;
  }
  .contact_header_leftside h3 {
    font-size: 30px;
  }
  .contact_header_leftside p {
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  .contact_header_container {
    background-image: url("/home/minmini/Documents/BytesInBits/bytesinbits-app/src/assets/contactus/contactworld.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    justify-items: flex-start;
  }

  .contact_header_rightside {
    display: none;
  }
}
@media (max-width: 600px) {
  .contact_header_leftside {
    padding-left: 1rem;
  }
  .contact_header_container {
    background-image: url("/home/minmini/Documents/BytesInBits/bytesinbits-app/src/assets/contactus/contactworld.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .contact_header_leftside h1 {
    font-size: 50px;
    text-align: center;
  }
  .contact_header_leftside h3 {
    font-size: 20px;
  }
  .contact_header_leftside p {
    font-size: 18px;
    text-align: center;
  }

  .contact_header_leftside {
    padding: 1rem 1rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }
}
@media (max-width: 330px) {
  .contact_header_leftside h1 {
    font-size: 40px;
    text-align: center;
  }
}
/* get in touch title */

.getin_touch_title h1 {
  margin-top: 30px;
  font-size: 52px;
  font-weight: 500;
  color: #000000;
  padding-left: 7rem;
}
.getin_touch_title h1 span {
  color: #ffb400;
}
.getin_touch_title p {
  font-size: 22px;
  font-weight: 400;
  color: #393939;
}
.contact_header_title_1 {
  padding-left: 7rem;
}
.contact_header_title_2 {
  padding-left: 5rem;
}
@media (max-width: 900px) {
  .getin_touch_title h1 {
    margin-top: 20px;
    font-size: 40px;
    padding-left: 5rem;
  }
  .getin_touch_title p {
    font-size: 18px;
  }
  .contact_header_title_1 {
    padding-left: 5rem;
  }
  .contact_header_title_2 {
    padding-left: 3rem;
  }
}
@media (max-width: 600px) {
  .getin_touch_title h1 {
    margin-top: 15px;
    font-size: 35px;
    padding-left: 2.5rem;
  }
  .getin_touch_title p {
    font-size: 16px;
    text-align: center;
  }
  .contact_header_title_1 {
    padding-left: 2.5rem;
  }
  .contact_header_title_2 {
    padding-left: 1.5 / rem;
  }
}
/* get in touch */
.getin_touch_container {
  width: 100%;
  margin-top: 30px;
  padding: 0 3rem 0 3rem;
}
.getin_touch_inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.getin_touch_leftside {
  background-color: #f2f6ff;
  align-self: center;
  justify-self: center;
}
.getin_touch_leftside_inner {
  width: 500px;
  padding: 2rem 1rem 2rem 1rem;
  box-shadow: 0 6px 8px 0 #00000040, 0 8px 20px 0 #00000040;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.getin_image {
  display: flex;
  gap: 1rem;
}
.getin_image img {
  align-self: flex-start;
}
.getin_image h3 {
  font-size: 20px;
  font-weight: 300;
  color: #000000;
}
.getin_touch_leftside p {
  font-size: 14px;
  font-weight: 500;
  color: #aca4a4;
  margin-left: 2rem;
}
.getin_touch_rightside {
  padding: 0 2rem 0 1rem;
}
.getin_touch_rightside_inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.getin_touch_rightside label {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  padding-left: 2.5rem;
}
.getin_touch_rightside_inner img {
  padding-right: 1rem;
}
.getin_touch_rightside input {
  width: 100%;
  height: 52px;
  border-radius: 4px;
  background-color: #f2f6ff;
  box-shadow: 0 6px 8px 0 #00000040, 0 8px 20px 0 #00000040;
  border: none;
  font-size: 16px;
  padding: 1rem;
  color: #393939;
}
.getin_touch_rightside input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #766d6d;
  padding-left: 1rem;
}
.getin_touch_rightside textarea {
  padding: 1rem;
  width: 100%;
  height: 200px;
  border-radius: 4px;
  background-color: #f2f6ff;
  box-shadow: 0 6px 8px 0 #00000040, 0 8px 20px 0 #00000040;
  border: none;
}
.getin_touch_rightside button {
  width: 200px;
  height: 44px;
  border-radius: 8px;
  background-color: #7928ca;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  border: none;
  margin-left: 2.5rem;
  cursor: pointer;
}
.input_textarea {
  display: flex;
}
.input_textarea img {
  align-self: start;
}
.fullname_input {
  display: flex;
}
.fullname_input img {
  align-self: center;
}
.fullname_inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.fullname_inner input {
  width: 100%;
}
.input_image {
  display: flex;
}
.input_image img {
  align-self: center;
}

@media (max-width: 1000px) {
  .getin_touch_inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .getin_touch_leftside_inner {
    width: 400px;
  }
}
@media (max-width: 600px) {
  .getin_touch_container {
    margin-top: 20px;
    padding: 0 1rem 0 1rem;
  }
  .getin_touch_rightside {
    padding: 0 1rem 0 1rem;
  }
  .getin_touch_leftside {
    align-self: center;
    justify-self: center;
  }
  .getin_touch_leftside_inner {
    width: 280px;
  }
  .fullname_inner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .fullname_inner input {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .getin_touch_rightside {
    padding: 0 1rem 0 1rem;
  }
  .getin_touch_leftside_inner {
    padding: 1rem 1rem 1rem 1rem;
    width: 230px;
  }
  .getin_touch_rightside input {
    width: 100%;
    max-width: 250px;
  }
  .getin_touch_rightside button {
    width: 150px;
    height: 44px;
    margin-left: 2rem;
  }
  .getin_image h3 {
    font-size: 16px;
  }
  .getin_touch_leftside p {
    font-size: 14px;
    margin-left: 0px;
  }
}
/* contact us image content */
.contactus_image_container {
  padding: 0 2rem 0 2rem;
}
.contactus_image_inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactus_image_content h1 {
  font-size: 30px;
  font-weight: 500;
  color: #000000;
}
.contactus_image_content h1 span {
  color: #ffb400;
}
@media (max-width: 1350px) {
  .contactus_image_content h1 {
    text-align: center;
  }
}
@media (max-width: 900px) {
  .contactus_image_content h1 {
    font-size: 28px;
  }
  .contactus_image img {
    max-width: 100%;
  }
}
@media (max-width: 900px) {
  .contactus_image_container {
    padding: 0 1rem 0 1rem;
    margin-top: 20px;
  }
  .contactus_image_inner {
    display: flex;
    flex-direction: column-reverse;
  }
  .contactus_image_content h1 {
    font-size: 25px;
  }
}
@media (max-width: 300px) {
  .contactus_image_container {
    padding: 0 1rem 0 1rem;
    margin-top: 10px;
  }
  .contactus_image_content h1 {
    font-size: 20px;
  }
}
/* contact us footer content */
.footer_contactus_container {
  padding: 5rem 3rem 5rem 3rem;
  background-color: #ededed;
  position: relative;
  bottom: 70px;
  z-index: -1;
}
.footer_contactus_inner {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer_contactus_inner h1 {
  font-size: 24px;
  font-weight: 700;
  color: #393939;
  text-align: center;
}
.footer_contactus_inner h1 span {
  font-size: 24px;
  font-weight: 400;
  color: #ffb400;
}
.footer_contactus_inner h2 {
  font-size: 24px;
  font-weight: 700;
  color: #393939;
  text-align: center;
}
.footer_contactus_inner h2 span {
  font-size: 24px;
  font-weight: 500;
  color: #ffb400;
}
@media (max-width: 900px) {
  .footer_contactus_container {
    padding: 4rem 2rem 4rem 2rem;
  }
  .footer_contactus_inner h1 {
    font-size: 22px;
  }
  .footer_contactus_inner h2 {
    font-size: 22px;
  }
}
@media (max-width: 600px) {
  .footer_contactus_container {
    padding: 3rem 1rem 3rem 1rem;
  }
  .footer_contactus_inner {
    gap: 1.5rem;
  }
  .footer_contactus_inner h1 {
    font-size: 20px;
    text-align: center;
  }
  .footer_contactus_inner h1 span {
    font-size: 20px;
  }
  .footer_contactus_inner h2 {
    font-size: 20px;
  }
  .footer_contactus_inner h2 span {
    font-size: 20px;
  }
}
@media (max-width: 300px) {
  .footer_contactus_container {
    padding: 3rem 1rem 3rem 1rem;
  }
  .footer_contactus_inner {
    gap: 1rem;
  }
  .footer_contactus_inner h1 {
    font-size: 18px;
    text-align: left;
  }
  .footer_contactus_inner h1 span {
    font-size: 18px;
  }
  .footer_contactus_inner h2 {
    font-size: 18px;
    text-align: left;
  }
  .footer_contactus_inner h2 span {
    font-size: 18px;
  }
}
/* footer img */
.footer_location_container {
  max-width: 100%;
  height: 500px;
  padding: 2rem;
  background-image: url("/home/minmini/Documents/BytesInBits/bytesinbits-app/src/assets/contactus/footerbackground.png");
}
.footer_location {
  width: 447px;
  height: 142px;
  box-shadow: 0 6px 8px 0 #00000040, 0 8px 20px 0 #00000040;
  background-color: #f2f6ff;
  padding: 1.5rem 0 1.5rem 1rem;
  border-radius: 4px;
}
.footer_location a {
  text-decoration: none;
}
.footer_location h3 {
  font-size: 20px;
  font-weight: 300;
  color: #766d6d;
}
.footer_location_address {
  display: flex;
}
@media (max-width: 900px) {
  .footer_location_container {
    background-size: cover;
    max-width: 100%;
    height: 400px;
  }
}
@media (max-width: 600px) {
  .footer_location_container {
    background-size: cover;
    max-width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer_location {
    width: 300px;
    height: 120px;
    padding: 1.5rem 0 1.5rem 1rem;
  }
  .footer_location h3 {
    font-size: 16px;
  }
}
@media (max-width: 300px) {
  .footer_location {
    width: 300px;
    height: 120px;
    padding: 1rem 0 1rem 1rem;
  }
  .footer_location h3 {
    font-size: 14px;
  }
}
